@tailwind base;
@tailwind components;
@tailwind utilities;
@media print {
  body {
    background: white !important;
  }
  .print-hidden {
    display: none !important;
  }
  .print-area {
    box-shadow: none !important;
    border: none !important;
  }
}
